# Verfication

## Establish Common Ground: Same Dataset & Task

Your custom dataset

## Define Evaluation Metrics

### Model Performance Metrics
